// hover颜色
// $accentColor = #66CCFF
$accentColor= #284db9

// 字体颜色
$textColor = #000

$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
// $badgeTipColor = #66CCFF
$badgeTipColor = #FF9999

$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

$nprogressColor = #284db9
